@import url("https://use.typekit.net/ded1uti.css");


@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
    font-family:
    'space-grotesk-variable',
    sans-serif;
    mix-blend-mode: luminosity;
  }
  
  h2 {
    font-family: "noto-sans-oriya", sans-serif;
    mix-blend-mode: luminosity;
    
  }


  @keyframes auroraAnimation {
    0% {
      filter: hue-rotate(0deg) saturate(1) blur(70px); /* Initial values */
      transform: scaleX(1)  ;
    }
    25% {
      filter: hue-rotate(180deg) saturate(2) blur(70px); /* Midpoint values */
    }
    50% {
      filter: hue-rotate(360deg) saturate(3) blur(70px); /* Final values */
      transform: scaleX(1.5) ; 
    }
    75% {
        filter: hue-rotate(180deg) saturate(2) blur(70px); /* Initial values */
      }
    100% {
        filter: hue-rotate(0deg) saturate(1) blur(70px); /* Midpoint values */
        transform: scaleX(1) ;
      }
  }
  
  .aurora {
    animation: auroraAnimation 50s infinite; /* Adjust timing and iteration as needed */
  }